.page__title, 
h1{
    color: #000000;
}

#hi-im-ariana-rodriguez,
h2{
    color: #000000;
}

#my-skills,
h1{
    color: #000000;
}

#software-developer,
h1{
    color: #000000;
}

#hi-there,
h2{
    color: #000000;
}