body {
    color: black;
}

a {
    color: #112E40
}

a:visited {
    color: #da6900
}





h1,
h2 {
    color: #00a8db;
    font-family: "Inter";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Inter";
}

#main {
    position: relative;
}